<<<<<<< HEAD
.div-container{
    background-color: rgb(182, 211, 211);
    margin-right: 790pt;
    border: 8pt solid black;
    padding: 20px;
}

.sec-container{
    background-color: yellow;
    color: yellow;
    border: 5px solid black;
    padding: 20px;
    margin-left: 205pt;
    margin-right: 560pt;
    border-width: 20px 10px 20px 10px;
}

.third-container{
    background-color: brown;
    color: brown;
    border: 5px solid black;
    border-width: 10px 10px 10px 10px;
    margin-right: 790pt;
    margin-left: 20pt;
    padding: 10px 10px 10px 10px;
}

=======
.nav{
    margin-left: 50%;
    padding-left: 20%;
}

.nav-item{
    display: flex;
    text-align: center;
}

.footer-nav {
    display: flex;             /* Use flexbox for layout */
    white-space: nowrap;      /* Prevent text wrapping */
}

.footer-nav .nav-item {
    margin-right: 10px;       /* Adjust spacing between items */
    padding-right: 10%;
}

h3{
  font-weight: bold;  
}

.container{
    padding-bottom: 10px;
    background-color: transparent;
}

body{
    background: url(062024009489_Corp_R_ImoniEvents_QC9A3749.jpg);
    background-attachment: inherit; 
}

html, body {
    height: 100%;
    margin: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #344035; /* or your desired background color */
    z-index: 1000; /* ensures it's on top of other content */
}

.btn{
    border-radius: 30px;
}
>>>>>>> 3ecc051 (skills)
